<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Pulse</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Add/Edit Task Form -->
    <div class="add-task-form" id="addContainer">
        <button class="logout-button" onclick="logout()">Logout</button>
        <h1 style="text-align: center; font-family: 'Playfair Display', serif;">Task Pulse</h1>
        <h2 style="font-family: 'Alegreya', serif;" id="taskProcess">Add New Task</h2>
        <form id="taskForm" action="/tasks" method="POST">
            <label for="task-title">Title:</label>
            <input type="text" name="title" id="task-title" placeholder="Enter task title" required>

            <label for="task-description">Description:</label>
            <textarea id="task-description" name="description" placeholder="Enter task description" rows="4"
                required></textarea>

            <label for="task-priority">Priority:</label>
            <select id="task-priority" name="priority" required>
                <option value="high" class="option-high">High</option>
                <option value="medium" class="option-medium">Medium</option>
                <option value="low" class="option-low">Low</option>
            </select>

            <button type="submit" id="addSubmit">Add Task</button>
            <button type="button" id="addCancel" class="cancel">Cancel</button>

        </form>
    </div>

    <!-- Task List -->
    <div class="page-todo">
        <div class="tasks">
            <div class="task-list">
                <h1 style="font-family: 'Alegreya', serif;">Tasks</h1>

                <% Object.keys(tasksByPriority).forEach(priority=> {
                    if (tasksByPriority[priority].length > 0) { %>
                    <div class="priority <%= priority %>"><span>
                            <%= priority.charAt(0).toUpperCase() + priority.slice(1) %> Priority
                        </span>
                    </div>

                    <% tasksByPriority[priority].forEach(task=> { %>
                        <div class="task <%= priority %>">
                            <div class="desc">
                                <div class="title">
                                    <%= task.title %>
                                </div>
                                <div>
                                    <%= task.description %>
                                </div>
                            </div>
                            <div class="time">
                                <!-- <div class="date completed-task">
                                    Completed
                                </div>
                                <div class="date" id="dateId">
                                    <%= new Date(task.date).toDateString() %>
                                </div> -->
                                <div class="date completed-task" <%=task.isCompleted ? 'style=display:block;'
                                    : 'style=display:none;' %>>
                                    Completed
                                </div>
                                <div class="date" id="dateId" <%=task.isCompleted ? 'style=display:none;'
                                    : 'style=display:block;' %>>
                                    <%= new Date(task.date).toDateString() %>
                                </div>
                                <div class="icons">
                                    <span class="icon complete-icon" <%=task.isCompleted ? 'style=display:none;' : '' %>
                                        onclick="markAsComplete('<%= task._id %>')">&#10003;</span>
                                    <span class="icon edit-icon" <%=task.isCompleted ? 'style=display:none;' : '' %>
                                        onclick="editTask('<%= task._id %>', '<%= task.title %>', '<%= task.description
                                                    %>', '<%= task.priority %>')">&#9998;</span>
                                    <span class="icon delete-icon"
                                        onclick="deleteTask('<%= task._id %>')">&#10007;</span>
                                </div>

                            </div>

                            </button>
                        </div>
                        <% }); %>
                            <% } }); %>

                                <!-- Display a message if there are no tasks -->
                                <div class="clearfix" <%=tasksByPriority['high'].length===0
                                    &&tasksByPriority['medium'].length===0 && tasksByPriority['low'].length===0
                                    ? 'style=display:block;' : 'style=display:none;' %>>
                                    No Tasks Added...
                                </div>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>